body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyBox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.keysButtons {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.keysButtons:hover {
  background-color: #870000;
}

#panelBox {
  margin-top: 20px;
  font-size: 24px;
  display: flex;
}

#panelBox span {
  margin: 0 5px;
}


#bodyPartImage {
  width: 150px;
  height: auto; 
  display: block; 
  margin: 0 auto; 
}


