body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.keysButtons {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.keysButtons:hover {
  background-color: #919191;
}

.correct {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0f0;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.incorrect {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#panelBox {
  margin-top: 20px;
  font-size: 24px;
  display: flex;
}

#panelBox span {
  margin: 0 5px;
}

#bodyPartImage {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#gameContainer{
  flex-direction: column;
  align-items: center;

}

#startGame {
  text-align: center;
  margin: 20px;
}

#startButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.7s;
}

#startButton:hover {
  background-color: #850000;
  color: #000000;
}

@media (max-width: 768px) {
  #startButton {
    font-size: 14px;
  }
}

#playAgainButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

#playAgainButton:hover {
  background-color: #919191;
}
